<p>
  <strong>Street:</strong>
  <%= address.street %>
</p>

<p>
  <strong>City:</strong>
  <%= address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= address.state_name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= address.zip %>
</p>
