<tr>
  <td><%= appointment.doctor.name %></td>
  <td><%= human_readable_date(appointment.date) %></td>
  <td><%= link_to 'Details', appointment %></td>
  <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
